@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Mono&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(195, 194, 182, 0.6643032212885154) 1%,
    rgba(0, 212, 255, 1) 100%
  );
}

option {
  border-radius: 3rem;
}
